<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ligal XOne</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="description" content="Ligal XOne - Herramienta de consulta y edición de los datos asociados a la plataforma de movilidad.">
    <meta name="author" content="Warnier S.L.">

    <link rel="stylesheet" media="(min-width: 320px)" href="@Styles.Url("~/Content/mediaquery/min-320px.css")">
    <link rel="stylesheet" media="(min-width: 768px)" href="@Styles.Url("~/Content/mediaquery/min-768px.css")">

    <link rel="stylesheet" media="(min-width: 1280px)" href="@Styles.Url("~/Content/mediaquery/min-1280px.css")">
    <link rel="stylesheet" media="(min-width: 1920px)" href="@Styles.Url("~/Content/mediaquery/min-1920px.css")">


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("Scripts", false)
</head>
<body>
    <div id="wrap">

        <div class="container">
            @RenderBody()
        </div>

        <div class="push"></div>
    </div>

    @RenderPage("_Footer.cshtml")
</body>
</html>