@model LigalFrontend.ViewModels.InspeccionesVM
@using LigalFrontend.Helpers

@{
    ViewBag.Title = "Editar Inspección";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var controlador = ViewContext.RouteData.Values["controller"].ToString();
}

@Scripts.Render("~/bundles/funcionesInspeccion")


@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "formEdit", id = "formEdit", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.inspeccion.ID)
    @Html.HiddenFor(model => model.inspeccion.IDUsuario)
	@Html.HiddenFor(model => model.inspeccion.TipoInspeccion)
    @Html.HiddenFor(model => model.inspeccion.ROWID)


    <div class="form-group">
        
        <div class="col-lg-12 col-sm-12 col-xs-12 ">
            <h2>@ViewBag.Title</h2>
        </div>

        <div class="col-lg-12 col-sm-12 col-xs-12 ">
            <div class="col-lg-3 col-sm-3 col-xs-12 pestanasInspeccion" id="pest_datosInspeccion">
                <a><span>Datos Inspección</span></a>
            </div>

            <div class="col-lg-3 col-sm-3 col-xs-12 pestanasInspeccion" id="pest_causaPositivo">
                <a><span>Causa Positivo</span></a>
            </div>

            <div class="col-lg-3 col-sm-3 col-xs-12 pestanasInspeccion" id="pest_datosOrigen">
                <a><span>Datos Origen</span></a>
            </div>

            <div class="col-lg-3 col-sm-3 col-xs-12 pestanasInspeccion" id="pest_observaciones">
                <a><span>Observaciones</span></a>
            </div>
        </div>

        @*DatosInspeccion*@
        <div id="datosInspeccion">

            @*FechaHoraVisita*@
            <div class="col-lg-6 col-sm-6 ">
                @Html.LabelFor(vista => vista.inspeccion.FechaHoraVisita)
                @Html.DateHelperFor(vista => vista.inspeccion.FechaHoraVisita)
                @Html.ValidationMessageFor(vista => vista.inspeccion.FechaHoraVisita)
            </div>

            @*Situacion*@
            <div class="col-lg-12 col-sm-12 col-xs-12 ">
                <div class="col-lg-12 col-sm-12 col-xs-12 ">
                    @Html.HiddenFor(x => x.inspeccion.Situacion)
                    @Html.LabelFor(vista => vista.inspeccion.Situacion)
                </div>

                <div class="col-lg-6 col-sm-6">
                    <div class="col-lg-6 col-sm-6">
                        @Html.LabelFor(model => model.map_SITUA1, new { @class = "labelNormal" })
                        @Html.CheckBoxFor(model => model.map_SITUA1, new { @class = "alineaCheckDerecha" })

                    </div>
                    <div class="col-lg-6 col-sm-6">
                        @Html.LabelFor(model => model.map_SITUA2, new { @class = "labelNormal" })
                        @Html.CheckBoxFor(model => model.map_SITUA2, new { @class = "alineaCheckDerecha" })
                    </div>

                    <div class="col-lg-6 col-sm-6">
                        @Html.LabelFor(model => model.map_SITUA3, new { @class = "labelNormal" })
                        @Html.CheckBoxFor(model => model.map_SITUA3, new { @class = "alineaCheckDerecha" })
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        @Html.LabelFor(model => model.map_SITUA4, new { @class = "labelNormal" })
                        @Html.CheckBoxFor(model => model.map_SITUA4, new { @class = "alineaCheckDerecha" })
                    </div>
                </div>

            </div>


            @*Resultado (no editable)*@
            <div class="col-lg-6 col-lg-offset-6 col-lg-pull-6 col-sm-6 col-sm-6 col-sm-offset-6 col-sm-pull-6">
                @Html.LabelFor(vista => vista.inspeccion.Resultado)
                @Html.TextBoxFor(vista => vista.inspeccion.Resultado, new { @class = "form-control", @disabled = "disabled" })
                @Html.ValidationMessageFor(vista => vista.inspeccion.Resultado)
            </div>

            @*ResultadoCharm*@
            <div class="col-lg-6 col-sm-6">
                @Html.HiddenFor(vista => vista.inspeccion.ResultadoCHARM)
                @Html.LabelFor(vista => vista.inspeccion.ResultadoCHARM)
                @Html.DropDownListFor(x => x.map_IdResultadoCharm, new SelectList(Model.listaResultados, "ID", "DESCRIPCION"), new { @class = "form-control", })
            </div>

            @*ResultadoQuino*@
            <div class="col-lg-6 col-sm-6">
                @Html.HiddenFor(vista => vista.inspeccion.RESULTADOQUINO)
                @Html.LabelFor(vista => vista.inspeccion.RESULTADOQUINO)
                @Html.DropDownListFor(x => x.map_IdResultadoQuino, new SelectList(Model.listaResultadosQuinolonas, "ID", "DESCRIPCION"), new { @class = "form-control", })
            </div>

            @*FechaSiguienteVisita*@
            <div class="col-lg-6 col-lg-offset-6 col-lg-pull-6 col-sm-6 col-sm-6 col-sm-offset-6 col-sm-pull-6">
                @Html.LabelFor(vista => vista.inspeccion.FechaSiguienteVisita)
                @Html.DateHelperFor(vista => vista.inspeccion.FechaSiguienteVisita)
                @Html.ValidationMessageFor(vista => vista.inspeccion.FechaSiguienteVisita)
            </div>

            @*Destrucion*@
            <div class="col-lg-6 col-sm-6 ">
                <div class="labelselect flota_izquierda ">
                    @Html.LabelFor(model => model.inspeccion.Destrucion)
                    @Html.CheckBoxFor(model => model.BoolDestrucion, new { @class = "alineaCheckDerecha" })
                </div>
            </div>

            @*NONDESTRUCION*@
            <div class="col-lg-6 col-sm-6 ">
                <div class="labelselect flota_izquierda ">
                    @Html.LabelFor(model => model.inspeccion.NONDESTRUCION)
                    @Html.CheckBoxFor(model => model.BoolNONDESTRUCION, new { @class = "alineaCheckDerecha" })
                </div>
            </div>

            @*NumeroVisita*@
            <div class="col-lg-6 col-sm-6 ">
                @Html.LabelFor(vista => vista.inspeccion.NumeroVisita)
                @Html.EditorFor(vista => vista.inspeccion.NumeroVisita, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(vista => vista.inspeccion.NumeroVisita)
            </div>

            @*VacasLacta*@
            <div class="col-lg-6 col-sm-6 ">
                @Html.LabelFor(vista => vista.inspeccion.VacasLacta)
                @Html.EditorFor(vista => vista.inspeccion.VacasLacta, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(vista => vista.inspeccion.VacasLacta)
            </div>

            @*LitrosLeche*@
            <div class="col-lg-6 col-sm-6 ">
                @Html.LabelFor(vista => vista.inspeccion.LitrosLeche)
                @Html.EditorFor(vista => vista.inspeccion.LitrosLeche, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(vista => vista.inspeccion.LitrosLeche)
            </div>

            @*NumMuxiduras*@
            <div class="col-lg-6 col-sm-6 ">
                @Html.LabelFor(vista => vista.inspeccion.NumMuxiduras)
                @Html.EditorFor(vista => vista.inspeccion.NumMuxiduras, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(vista => vista.inspeccion.NumMuxiduras)
            </div>

            @*IDMuestraRecogida*@
            <div class="col-lg-6 col-lg-offset-6 col-lg-pull-6 col-sm-6 col-sm-offset-6 col-sm-pull-6">
                @Html.LabelFor(vista => vista.inspeccion.IDMuestraRecogida)
                @Html.TextBoxFor(vista => vista.inspeccion.IDMuestraRecogida, new { @class = "form-control" })
                @Html.ValidationMessageFor(vista => vista.inspeccion.IDMuestraRecogida)
            </div>

            @*COORDX*@
            <div class="col-lg-6 col-sm-6 ">
                @Html.LabelFor(vista => vista.inspeccion.COORDX)
                @Html.TextBoxFor(vista => vista.inspeccion.COORDX, new { @class = "form-control", @disabled = "disabled" })
                @Html.ValidationMessageFor(vista => vista.inspeccion.COORDX)
            </div>
            @*COORDY*@
            <div class="col-lg-6 col-sm-6">
                @Html.LabelFor(vista => vista.inspeccion.COORDY)
                @Html.TextBoxFor(vista => vista.inspeccion.COORDY, new { @class = "form-control", @disabled = "disabled" })
                @Html.ValidationMessageFor(vista => vista.inspeccion.COORDY)
            </div>

            @*XOne*@
            <div class="col-lg-6 col-sm-6 ">
                <div class="labelselect flota_izquierda ">
                    @Html.LabelFor(model => model.inspeccion.XONE)
                    @Html.CheckBoxFor(model => model.BoolXONE, new { @class = "alineaCheckDerecha" })
                </div>
            </div>
        </div>

        @**************************************   PESTAÑA 2   ************************************************@     
        @*Causa Positivo*@
        <div id="causaPositivo">
      
            <div class="col-lg-12 col-sm-12 col-xs-12 ">
                <h3>Posible causa positivo inhibidores - Tratamiento en lactación</h3>
            </div>
            

            @*MAMITE*@
            <div class="col-lg-6 col-sm-6 " style="padding-right:0px;">
                <div class="col-lg-12 col-sm-12 col-xs-12 ">
                    @Html.LabelFor(model => model.inspeccion.MAMITE)
                    @Html.CheckBoxFor(model => model.BoolMAMITE, new { @class = "alineaCheckDerecha" })
                </div>
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <p class="enunciadoCheckInsp">Se respetó tiempo de espera</p>
                </div>

                @Html.HiddenFor(x => x.inspeccion.MAMITESN)

                <div class="col-lg-6 col-sm-6">
                    @Html.LabelFor(model => model.map_MAMITES, new { @class = "labelNormal" })
                    @Html.CheckBoxFor(model => model.map_MAMITES)
                </div>
                <div class="col-lg-6 col-sm-6">
                    @Html.LabelFor(model => model.map_MAMITEN, new { @class = "labelNormal" })
                    @Html.CheckBoxFor(model => model.map_MAMITEN)
                </div>
            </div>           


            @*OUTRAS*@
            <div class="col-lg-6 col-sm-6 " style="padding-right:0px;">
                <div class="col-lg-12 col-sm-12 col-xs-12 ">
                    @Html.LabelFor(model => model.inspeccion.OUTRAS)
                    @Html.CheckBoxFor(model => model.BoolOUTRAS, new { @class = "alineaCheckDerecha" })
                </div>
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <p class="enunciadoCheckInsp">Se respetó tiempo de espera</p>
                </div>

                @Html.HiddenFor(x => x.inspeccion.OUTRASSN)

                <div class="col-lg-6 col-sm-6">
                    @Html.LabelFor(model => model.map_OUTRASS, new { @class = "labelNormal" })
                    @Html.CheckBoxFor(model => model.map_OUTRASS)
                </div>
                <div class="col-lg-6 col-sm-6">
                    @Html.LabelFor(model => model.map_OUTRASN, new { @class = "labelNormal" })
                    @Html.CheckBoxFor(model => model.map_OUTRASN)
                </div>
            </div>      


            @*PARTO*@
            <div class="col-lg-6 col-sm-6 " style="padding-right:0px;">
                <div class="col-lg-12 col-sm-12 col-xs-12 ">
                    @Html.LabelFor(model => model.inspeccion.PARTO)
                    @Html.CheckBoxFor(model => model.BoolPARTO, new { @class = "alineaCheckDerecha" })
                </div>
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <p class="enunciadoCheckInsp">Se respetó tiempo de espera</p>
                </div>

                @Html.HiddenFor(x => x.inspeccion.PARTOSN)

                <div class="col-lg-6 col-sm-6">
                    @Html.LabelFor(model => model.map_PARTOS, new { @class = "labelNormal" })
                    @Html.CheckBoxFor(model => model.map_PARTOS)
                </div>
                <div class="col-lg-6 col-sm-6">
                    @Html.LabelFor(model => model.map_PARTON, new { @class = "labelNormal" })
                    @Html.CheckBoxFor(model => model.map_PARTON)
                </div>
            </div>      


            @*ASOCIACION*@
            <div class="col-lg-6 col-sm-6 " style="padding-right:0px;">
                <div class="col-lg-12 col-sm-12 col-xs-12 ">
                    @Html.LabelFor(model => model.inspeccion.ASOCIACION)
                    @Html.CheckBoxFor(model => model.BoolASOCIACION, new { @class = "alineaCheckDerecha" })
                </div>
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <p class="enunciadoCheckInsp">Se respetó tiempo de espera</p>
                </div>

                @Html.HiddenFor(x => x.inspeccion.ASOCIACIONSN)

                <div class="col-lg-6 col-sm-6">
                    @Html.LabelFor(model => model.map_ASOCIACIONS, new { @class = "labelNormal" })
                    @Html.CheckBoxFor(model => model.map_ASOCIACIONS)
                </div>
                <div class="col-lg-6 col-sm-6">
                    @Html.LabelFor(model => model.map_ASOCIACIONN, new { @class = "labelNormal" })
                    @Html.CheckBoxFor(model => model.map_ASOCIACIONN)
                </div>
            </div>  


            @*EMPDOSIS*@
            <div class="col-lg-6 col-sm-6 ">
                @Html.LabelFor(model => model.inspeccion.EMPDOSIS)
                @Html.CheckBoxFor(model => model.BoolEMPDOSIS, new { @class = "alineaCheckDerecha" })
            </div>

            @*TRATAINTRAM*@
            <div class="col-lg-6 col-sm-6 ">
                @Html.LabelFor(model => model.inspeccion.TRATAINTRAM)
                @Html.CheckBoxFor(model => model.BoolTRATAINTRAM, new { @class = "alineaCheckDerecha" })
            </div>

            @*ORDENMUXI*@
            <div class="col-lg-6 col-sm-6 ">
                @Html.LabelFor(model => model.inspeccion.ORDEMUXI)
                @Html.CheckBoxFor(model => model.BoolORDEMUXI, new { @class = "alineaCheckDerecha" })
            </div>

            @*MUXIERRO*@
            <div class="col-lg-6 col-sm-6 ">
                @Html.LabelFor(model => model.inspeccion.MUXIERRO)
                @Html.CheckBoxFor(model => model.BoolMUXIERRO, new { @class = "alineaCheckDerecha" })
            </div>

            @*INCORPORACION*@
            <div class="col-lg-6 col-sm-6 ">
                @Html.LabelFor(model => model.inspeccion.INCORPORACION)
                @Html.CheckBoxFor(model => model.BoolINCORPORACION, new { @class = "alineaCheckDerecha" })
            </div>

            @*NOIDENTIF*@
            <div class="col-lg-6 col-sm-6 ">
                @Html.LabelFor(model => model.inspeccion.NOIDENTIF)
                @Html.CheckBoxFor(model => model.BoolNOIDENTIF, new { @class = "alineaCheckDerecha" })
            </div>

            @*TRATANIERR*@
            <div class="col-lg-6 col-sm-6 ">
                @Html.LabelFor(model => model.inspeccion.TRATANIERR)
                @Html.CheckBoxFor(model => model.BoolTRATANIERR, new { @class = "alineaCheckDerecha" })
            </div>

            @*ERRCOMUNI*@
            <div class="col-lg-6 col-sm-6 ">
                @Html.LabelFor(model => model.inspeccion.ERRCOMUNI)
                @Html.CheckBoxFor(model => model.BoolERRCOMUNI, new { @class = "alineaCheckDerecha" })
            </div>

            @*NONCAUSA*@
            <div class="col-lg-6 col-sm-6 ">
                @Html.LabelFor(model => model.inspeccion.NONCAUSA)
                @Html.CheckBoxFor(model => model.BoolNONCAUSA, new { @class = "alineaCheckDerecha" })
            </div>

            @*EN CASO DE DECLARAR QUE NON HAI TRATAMENTOS*@
            @*ALGUNTRATA*@
            <div class="col-lg-6 col-sm-6 " style="padding-right:0px;">
                <div class="col-lg-12 col-sm-12 ">
                    @Html.LabelFor(model => model.inspeccion.ALGUNTRATA)
                    @Html.CheckBoxFor(model => model.BoolALGUNTRATA, new { @class = "alineaCheckDerecha" })
                </div>

                @Html.HiddenFor(x => x.inspeccion.ASOCIACIONSN)

                <div class="col-lg-6 col-sm-6">
                    @Html.LabelFor(model => model.map_ALGUNTRATAS, new { @class = "labelNormal" })
                    @Html.CheckBoxFor(model => model.map_ALGUNTRATAS)
                </div>
                <div class="col-lg-6 col-sm-6">
                    @Html.LabelFor(model => model.map_ALGUNTRATAN, new { @class = "labelNormal" })
                    @Html.CheckBoxFor(model => model.map_ALGUNTRATAN)
                </div>
            </div>


            @*CONTENT TRATAMENTOS*@
            <div class="col-lg-6 col-sm-6 col-xs-6 ">
                <table class="table table-inverse table-hover" id="contentTratamiento">
                    <tr>
                        @Html.CustomThFor(model => model.listaTratamientos.First().tratamiento.FECHAT)
                        @Html.CustomThFor(model => model.listaTratamientos.First().antibioticos.NomeProducto)
                        <th class="tablaTitulo" scope="col">Eliminar</th>
                    </tr>
                    @Html.DisplayFor(model => model.listaTratamientos)
                </table>
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <a class="btnEngadirLinhaContent" id="Tratamiento"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></a>
                </div>
            </div>

            @*NONCOMPROBAT*@
            <div class="col-lg-6 col-sm-6 ">
                @Html.LabelFor(model => model.inspeccion.NONCOMPROBAT)
                @Html.CheckBoxFor(model => model.BoolNONCOMPROBAT, new { @class = "alineaCheckDerecha" })
            </div>

            @*NONADMINT*@
            <div class="col-lg-6 col-sm-6 ">
                @Html.LabelFor(model => model.inspeccion.NONADMINT)
                @Html.CheckBoxFor(model => model.BoolNONADMINT, new { @class = "alineaCheckDerecha" })
            </div>

            @*NONPOSIBLEE*@
            <div class="col-lg-6 col-sm-6 ">
                @Html.LabelFor(model => model.inspeccion.NONPPOSIBLEE)
                @Html.CheckBoxFor(model => model.BoolNONPOSIBLEE, new { @class = "alineaCheckDerecha" })
            </div>

            @*OBSTRATA*@
            <div class="col-lg-6 col-sm-6 ">
                @Html.LabelFor(model => model.inspeccion.OBSTRATA)
                @Html.TextAreaFor(model => model.inspeccion.OBSTRATA, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.inspeccion.OBSTRATA)
            </div>
        </div>


        @**************************************   PESTAÑA 3   ************************************************@
        @*DATOS ORIXE*@
        <div id="datosOrigen">
            @*IDEXPLOTACION*@
            <div class="col-lg-6 col-sm-6 ">
                @Html.LabelFor(vista => vista.inspeccion.IDExplotacion)
                @Html.TextBoxFor(vista => vista.inspeccion.IDExplotacion, new { @class = "form-control", @disabled = "disabled" })
                @Html.ValidationMessageFor(vista => vista.inspeccion.IDExplotacion)
            </div>

            @*IDMUESTRAORIGEN*@
            <div class="col-lg-6 col-sm-6 ">
                @Html.LabelFor(vista => vista.inspeccion.IDMuestraOrigen)
                @Html.TextBoxFor(vista => vista.inspeccion.IDMuestraOrigen, new { @class = "form-control", @disabled = "disabled" })
                @Html.ValidationMessageFor(vista => vista.inspeccion.IDMuestraOrigen)
            </div>

            @*FechaMuestraOrigen*@
            <div class="col-lg-6 col-sm-6">
                @Html.LabelFor(vista => vista.inspeccion.FechaMuestraOrigen)
                @Html.TextBoxFor(vista => vista.inspeccion.FechaMuestraOrigen, new { @class = "form-control", @disabled = "disabled" })
                @Html.ValidationMessageFor(vista => vista.inspeccion.FechaMuestraOrigen)
            </div>

            @*FechaAnalisisOrigen*@
            <div class="col-lg-6 col-sm-6 ">
                @Html.LabelFor(vista => vista.inspeccion.FechaAnalisisOrigen)
                @Html.TextBoxFor(vista => vista.inspeccion.FechaAnalisisOrigen, new { @class = "form-control", @disabled = "disabled" })
                @Html.ValidationMessageFor(vista => vista.inspeccion.FechaAnalisisOrigen)
            </div>

            @*Nombre*@
            <div class="col-lg-6 col-sm-6 ">
                @Html.LabelFor(vista => vista.inspeccion.Nombre)
                @Html.TextBoxFor(vista => vista.inspeccion.Nombre, new { @class = "form-control", @disabled = "disabled" })
                @Html.ValidationMessageFor(vista => vista.inspeccion.Nombre)
            </div>

            @*Direccion*@
            <div class="col-lg-6 col-sm-6 ">
                @Html.LabelFor(vista => vista.inspeccion.Direccion)
                @Html.TextBoxFor(vista => vista.inspeccion.Direccion, new { @class = "form-control", @disabled = "disabled" })
                @Html.ValidationMessageFor(vista => vista.inspeccion.Direccion)
            </div>

            @*Provincia*@
            <div class="col-lg-6 col-sm-6 ">
                @Html.LabelFor(vista => vista.inspeccion.Provincia)
                @Html.TextBoxFor(vista => vista.inspeccion.Provincia, new { @class = "form-control", @disabled = "disabled" })
                @Html.ValidationMessageFor(vista => vista.inspeccion.Provincia)
            </div>

            @*Telefono1*@
            <div class="col-lg-6 col-sm-6 ">
                @Html.LabelFor(vista => vista.inspeccion.Telefono1)
                @Html.TextBoxFor(vista => vista.inspeccion.Telefono1, new { @class = "form-control", @disabled = "disabled" })
                @Html.ValidationMessageFor(vista => vista.inspeccion.Telefono1)
            </div>

            @*Telefono2*@
            <div class="col-lg-6 col-sm-6 ">
                @Html.LabelFor(vista => vista.inspeccion.Telefono2)
                @Html.TextBoxFor(vista => vista.inspeccion.Telefono2, new { @class = "form-control", @disabled = "disabled" })
                @Html.ValidationMessageFor(vista => vista.inspeccion.Telefono2)
            </div>

            @*IDIndustria*@
            <div class="col-lg-6 col-sm-6 ">
                @Html.LabelFor(vista => vista.inspeccion.IDIndustria)
                @Html.TextBoxFor(vista => vista.inspeccion.IDIndustria, new { @class = "form-control", @disabled = "disabled" })
                @Html.ValidationMessageFor(vista => vista.inspeccion.IDIndustria)
            </div>

            @*IndustriaN*@
            <div class="col-lg-6 col-sm-6 ">
                @Html.LabelFor(vista => vista.inspeccion.INDUSTRIAN)
                @Html.TextBoxFor(vista => vista.inspeccion.INDUSTRIAN, new { @class = "form-control", @disabled = "disabled" })
                @Html.ValidationMessageFor(vista => vista.inspeccion.INDUSTRIAN)
            </div>

            @*Actualizado*@
            @Html.HiddenFor(x => x.inspeccion.Actualizado)
        </div>


        @*******************************    PESTAÑA 4   *******************************************************************@
        @*OBSERVACIONS*@
        <div id="observaciones">
            @*IDObserva*@
            <div class="col-lg-6 col-sm-6 ">
                @Html.LabelFor(vista => vista.inspeccion.IDOBSERVA)
                @Html.DropDownListFor(x => x.inspeccion.IDOBSERVA, new SelectList(Model.listaObservaciones, "ID", "OBSERVA"), new { @class = "form-control", })
                @Html.ValidationMessageFor(vista => vista.inspeccion.IDOBSERVA)
            </div>


            @*Observaciones*@
            <div class="col-lg-6 col-sm-6 ">
                @Html.LabelFor(model => model.inspeccion.Observaciones)
                @Html.TextAreaFor(model => model.inspeccion.Observaciones, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.inspeccion.Observaciones)
            </div>
        </div>

        <div class="col-lg-12 col-sm-12 col-xs-12 filaBotonera ">
            <input class="btn btn-default" id="botonLimpar" type="button" name="boton2" value="LIMPAR" onclick="resetForm(formEdit)" />
            <input class="btn btn-primary" id="botonGardar" type="submit" name="boton" value="GARDAR" />
            @Html.Hidden("RedirectTo", Url.Action("Index", controlador))
            <input class="btn btn-warning" id="botonCancelar" type="button" name="boton" value="CANCELAR" onclick="redirect()" />
        </div>

    </div>
}

@{ Html.RenderPartial("_DialogAlert");}

