@model LigalFrontend.ViewModels.UsuarioLoginVM

@{
    ViewBag.Title = "Ligal XOne";
    Layout = "~/Views/Shared/_Login.cshtml";
}

@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

        <div class="col-lg-12 col-sm-12 col-xs-12 form-group form-horizontal" style="margin-top:15%;">
                       
            <div class="col-lg-6 col-lg-offset-3 col-sm-6 col-md-offset-3 col-xs-12 " style="padding-left:0px !important; padding-bottom:5%;">
                <div class="col-lg-6 col-sm-6 col-xs-6 ">
                    <img src="~/Content/imagenes/SoloLogo.png" style="width:50%;"/>
                </div>
                <div class="col-lg-6 col-sm-6 col-xs-6" >
                    <h2 class="alineaDerecha">@ViewBag.Title</h2>
                </div>
            </div>

            <div class="col-lg-6 col-lg-offset-3 col-sm-6 col-md-offset-3 col-xs-12 ">
                @Html.LabelFor(x => x.LOGIN, new { @class = "" })
                @Html.TextBoxFor(x => x.LOGIN, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.LOGIN)
            </div>

            <div class="col-lg-6 col-lg-offset-3 col-sm-6 col-md-offset-3 col-xs-12">
                @Html.LabelFor(x => x.PASSWORD, new { @class = "" })
                @Html.PasswordFor(x => x.PASSWORD, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.PASSWORD)
            </div>


            @if (ViewBag.erroInicio != null)
            {
                <div class="col-lg-6 col-lg-offset-3 col-sm-6 col-md-offset-3 col-xs-12">
                    <h3 style="color:red !important;">@ViewBag.erroInicio</h3>
                </div>
            }

            <div class="col-lg-3 col-lg-offset-5 col-sm-3 col-md-offset-6 col-xs-12 filaBotonera">
                <input class="btn btn-primary" id="botonGardar" type="submit" name="boton" value="ENTRAR" />
            </div>

    </div>
}
