@model LigalFrontend.ViewModels.PuntosRecogidaVM

@{
    ViewBag.Title = "Nuevo Punto de Recogida";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var controlador = ViewContext.RouteData.Values["controller"].ToString();
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "formCreate", id = "formCreate" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)


    <h2>@ViewBag.Title</h2>
        <div class="form-group ">

            <div class="col-lg-6 col-sm-6">
                @Html.LabelFor(vista => vista.puntosRecogida.CODIGOP)
                @Html.TextBoxFor(vista => vista.puntosRecogida.CODIGOP, new { @class = "form-control" })
                @Html.ValidationMessageFor(vista => vista.puntosRecogida.CODIGOP)
            </div>

            <div class="col-lg-6 col-sm-6">
                @Html.LabelFor(vista => vista.puntosRecogida.NOMBRE)
                @Html.TextBoxFor(vista => vista.puntosRecogida.NOMBRE, new { @class = "form-control" })
                @Html.ValidationMessageFor(vista => vista.puntosRecogida.NOMBRE)
            </div>

            <div class="col-lg-6 col-sm-6">
                @Html.LabelFor(vista => vista.puntosRecogida.DESCRIPCION)
                @Html.TextBoxFor(vista => vista.puntosRecogida.DESCRIPCION, new { @class = "form-control" })
                @Html.ValidationMessageFor(vista => vista.puntosRecogida.DESCRIPCION)
            </div>

            <div class="input-group">
                <div class="col-lg-6 col-sm-6">
                    @Html.LabelFor(vista => vista.puntosRecogida.COORDX)
                    @Html.TextBoxFor(vista => vista.puntosRecogida.COORDX, new { @class = "form-control", @disabled = "disabled" })
                    @Html.ValidationMessageFor(vista => vista.puntosRecogida.COORDX)
                </div>

                <div class="col-lg-6 col-sm-6">
                    @Html.LabelFor(vista => vista.puntosRecogida.COORDY)
                    @Html.TextBoxFor(vista => vista.puntosRecogida.COORDY, new { @class = "form-control", @disabled = "disabled" })
                    @Html.ValidationMessageFor(vista => vista.puntosRecogida.COORDY)
                </div>
            </div>

            <div class="col-lg-6 col-sm-6">
                @Html.LabelFor(vista => vista.puntosRecogida.IDUSUARIO)
                @Html.DropDownListFor(x => x.puntosRecogida.IDUSUARIO, new SelectList(Model.listaUsuarios, "ID", "NOMBRE"), new { @class = "form-control", })
                @Html.HiddenFor(vista => vista.puntosRecogida.IDUSUARIO)
                @Html.ValidationMessageFor(vista => vista.puntosRecogida.IDUSUARIO)
            </div>

            <div class="col-lg-12 col-sm-12 col-xs-12 filaBotonera">
                <input class="btn btn-default" id="botonLimpar" type="button" name="boton2" value="LIMPAR" onclick="resetForm(formEdit)" />
                <input class="btn btn-primary" id="botonGardar" type="submit" name="boton" value="GARDAR" />
                @Html.Hidden("RedirectTo", Url.Action("Index", controlador))
                <input class="btn btn-warning" id="botonCancelar" type="button" name="boton" value="CANCELAR" onclick="redirect()" />
            </div>
        </div>
}