@model IEnumerable<LigalFrontend.ViewModels.InspeccionesGpsVM>

@using LigalFrontend.Helpers;
@using PagedList.Mvc;
@using PagedList;

@{
    Html.RenderPartial("~/Views/Shared/DisplayTemplates/divTituloTabla.cshtml");
    var controlador = ViewBag.controlador;
}

@Html.Hidden("campoOculto")

<div class="form-group">
    <table class="table table-inverse table-hover">
        <tr>
            @Html.CustomThFor(model => model.First().inspeccion.FechaHoraVisita)
            @Html.CustomThFor(model => model.First().inspeccion.SERIEGANADERO)
            @Html.CustomThFor(model => model.First().inspeccion.Nombre)
            @Html.CustomThFor(model => model.First().usuario.NOMBRE)
            @Html.CustomThFor(model => model.First().inspeccion.INDUSTRIAN)
            @Html.CustomThFor(model => model.First().inspeccion.Poblacion)
            @if (controlador != "InspeccionesQuinoGPS")
            {
                @Html.CustomThFor(model => model.First().inspeccion.ResultadoCHARM)
            }
            else
            {
                @Html.CustomThFor(model => model.First().inspeccion.RESULTADOQUINO)
            }
        </tr>
        @foreach (var item in Model)
            {
            <tr>
                @Html.CustomTdFor(model => item.inspeccion.FechaHoraVisita)
                @Html.CustomTdFor(model => item.inspeccion.SERIEGANADERO)
                @Html.CustomTdFor(model => item.inspeccion.Nombre)
                @Html.CustomTdFor(model => item.usuario.NOMBRE)
                @Html.CustomTdFor(model => item.inspeccion.INDUSTRIAN)
                @Html.CustomTdFor(model => item.inspeccion.Poblacion)
                @if (controlador != "InspeccionesQuinoGPS")
                {
                    @Html.CustomTdFor(model => item.inspeccion.ResultadoCHARM)
                }
                else
                {
                    @Html.CustomTdFor(model => item.inspeccion.RESULTADOQUINO)
                }
            </tr>
        }
    </table>
</div>

<div class="totalResultados">
    @Html.PagedListPager((IPagedList)Model, page => Url.Action(ViewBag.nombreAction, new { page }), new PagedListRenderOptions
    {
        LiElementClasses = new List<string> { "yourClass" }
    })
</div>