@model IEnumerable<LigalFrontend.ViewModels.UsuariosVM>
@using LigalFrontend.Helpers;

@{
    var controlador = ViewContext.RouteData.Values["controller"].ToString();
}

@{
    Html.RenderPartial("~/Views/Shared/DisplayTemplates/divMuestraFiltro.cshtml", Model);
}

<div class="row" id="divFiltro">

    <div class="col-lg-4 col-sm-4 col-xs-12">
        @Html.LabelFor(vista => vista.First().buscador.LOGIN, new { @class = "" })
        @Html.TextBoxFor(vista => vista.First().buscador.LOGIN, new { @class = "form-control" })
        @Html.ValidationMessageFor(vista => vista.First().buscador.LOGIN)
    </div>

    <div class="col-lg-4 col-sm-4 col-xs-12">
        @Html.LabelFor(vista => vista.First().buscador.NOMBRE, new { @class = "" })
        @Html.TextBoxFor(vista => vista.First().buscador.NOMBRE, new { @class = "form-control" })
        @Html.ValidationMessageFor(vista => vista.First().buscador.NOMBRE)
    </div>

    <div class="col-lg-4 col-sm-4 col-xs-12">
        @Html.LabelFor(vista => vista.First().buscador.TIPOUSUARIO, new { @class = "" })
        @Html.TextBoxFor(vista => vista.First().buscador.TIPOUSUARIO, new { @class = "form-control" })
        @Html.ValidationMessageFor(vista => vista.First().buscador.TIPOUSUARIO)
    </div>

    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="btnFiltro">
            <input type="button" value="Limpia" onclick="resetFiltro('divFiltro')" class="btn btn-warning">
            <input type="button" value="Filtra" id="filtro" class="btn btn-info">
        </div>
    </div>
</div>