@model LigalFrontend.ViewModels.VehiculoVM
@using LigalFrontend.Helpers

@{
    ViewBag.Title = "Editar Vehículo";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var controlador = ViewContext.RouteData.Values["controller"].ToString();
    var rol = ViewBag.Rol;
}


@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "formEdit", id = "formEdit", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)


	@Html.HiddenFor(model => model.vehiculo.ID)
    @Html.HiddenFor(model => model.vehiculo.ROWID)


    <h2>@ViewBag.Title</h2>


    <div class="col-lg-6 col-sm-6 ">
        @Html.LabelFor(vista => vista.vehiculo.MATRICULA, new { @class = "" })
        @Html.TextBoxFor(vista => vista.vehiculo.MATRICULA, new { @class = "form-control" })
        @Html.ValidationMessageFor(vista => vista.vehiculo.MATRICULA)
    </div>

    <div class="col-lg-6 col-sm-6 ">
        @Html.LabelFor(vista => vista.vehiculo.MODELO, new { @class = "" })
        @Html.TextBoxFor(vista => vista.vehiculo.MODELO, new { @class = "form-control" })
        @Html.ValidationMessageFor(vista => vista.vehiculo.MODELO)
    </div>

    <div class="col-lg-6 col-sm-6">
        <div class="col-lg-12">
            @Html.LabelFor(vista => vista.vehiculo.ANHOCOMPRA, new { @class = "ajustaMargen" })
            @Html.DateHelperFor(vista => vista.vehiculo.ANHOCOMPRA)
            @Html.ValidationMessageFor(vista => vista.vehiculo.ANHOCOMPRA)
        </div>
    </div>


    <div class="col-lg-6 col-sm-6 ">
        @Html.LabelFor(vista => vista.vehiculo.TIPOCOMBUSTIBLE, new { @class = "" })
        @Html.TextBoxFor(vista => vista.vehiculo.TIPOCOMBUSTIBLE, new { @class = "form-control" })
        @Html.ValidationMessageFor(vista => vista.vehiculo.TIPOCOMBUSTIBLE)
    </div>

    <div class="col-lg-6 col-sm-6 col-xs-6">
        <table class="table table-inverse table-hover" id="contentUsuariosVehiculo" style="margin-top:5%;">
            @if (rol == "WADMIN")
            {
                <tr>
                    @Html.CustomThFor(model => model.listaUsuariosVehiculo.First().usuario.NOMBRE)
                    <th class="tablaTitulo" scope="col">Eliminar</th>
                </tr>
                @Html.DisplayFor(model => model.listaUsuariosVehiculo)
            }
            else
            {
                <tr>
                    @Html.CustomThFor(model => model.listaUsuariosVehiculo.First().usuario.NOMBRE)
                </tr>
                <tr>
                    @Html.CustomTdFor(model => model.listaUsuariosVehiculo.First().usuario.NOMBRE)
                </tr>
            }
        </table>
        @if (rol == "WADMIN")
        {
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <a class="btnEngadirLinhaContent" id="UsuariosVehiculo"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></a>
            </div>
        }
    </div>
    

    <div class="col-lg-12 col-sm-12 col-xs-12 filaBotonera ">
        <input class="btn btn-default" id="botonLimpar" type="button" name="boton2" value="LIMPAR" onclick="resetForm(formEdit)" />
        <input class="btn btn-primary" id="botonGardar" type="submit" name="boton" value="GARDAR" />
        @Html.Hidden("RedirectTo", Url.Action("Index", controlador))
        <input class="btn btn-warning" id="botonCancelar" type="button" name="boton" value="CANCELAR" onclick="redirect()" />
    </div>
}


@{ Html.RenderPartial("_DialogAlert");}