@model IEnumerable<LigalFrontend.ViewModels.InsercionRecogidasVM>

@using PagedList.Mvc;
@using PagedList;
@using LigalFrontend.Helpers;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Inserción Recogida";
    var controlador = ViewContext.RouteData.Values["controller"].ToString();
}

@Html.AntiForgeryToken()

@{
    Html.RenderPartial("~/Views/Shared/DisplayTemplates/divMuestraFiltro.cshtml", Model);
    Html.RenderPartial("~/Views/Shared/Buscador/_FiltroInsercionRecogidasN.cshtml");
    Html.RenderPartial("~/Views/Shared/DisplayTemplates/divTitulo.cshtml");
}

<div id="indexReal">
    @Html.Hidden("campoOculto")


    <div class="form-group">
        <table class="table table-inverse table-hover">
            <tr>
                @Html.CustomThFor(model => model.First().pRecogida.CODIGOP)
                @Html.CustomThFor(model => model.First().pRecogida.NOMBRE)
                @Html.CustomThFor(model => model.First().puntoRecogidaDia.FECHA)
                @Html.CustomThFor(model => model.First().puntoRecogidaDia.PROGRAMADO)
                @Html.CustomThFor(model => model.First().puntoRecogidaDia.VISITADO)
                <th class="tablaTitulo" scope="col">Eliminar</th>
                <th class="tablaTitulo" scope="col">Editar</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    @Html.CustomTdFor(model => item.pRecogida.CODIGOP)
                    @Html.CustomTdFor(model => item.pRecogida.NOMBRE)
                    @Html.CustomTdFor(model => item.puntoRecogidaDia.FECHA)
                    @Html.CustomTdFor(model => item.puntoRecogidaDia.PROGRAMADO)
                    @Html.CustomTdFor(model => item.puntoRecogidaDia.VISITADO)
                    <td><a id="delete@(item.puntoRecogidaDia.ID)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
                    <td><a href="@Url.Action("edit", controlador, new { id = item.puntoRecogidaDia.ID })"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></td>
                </tr>
            }
        </table>
        </div>

    @{ Html.RenderPartial("_DialogDelete");}

    <div class="totalResultados">
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
    </div>
</div>