@model IEnumerable<LigalFrontend.ViewModels.InsercionRecogidasVM>
@using LigalFrontend.Helpers;

@{
    var controlador = ViewContext.RouteData.Values["controller"].ToString();
}

<div class="row" id="divFiltro">

    <div class="col-lg-6 col-sm-6 col-xs-12">
        @Html.LabelFor(vista => vista.First().buscador.codpunto, new { @class = "" })
        @Html.TextBoxFor(vista => vista.First().buscador.codpunto, new { @class = "form-control" })
        @Html.ValidationMessageFor(vista => vista.First().buscador.codpunto)
    </div>

    <div class="col-lg-6 col-sm-6 col-xs-12">
        @Html.LabelFor(vista => vista.First().buscador.nompunto, new { @class = "" })
        @Html.TextBoxFor(vista => vista.First().buscador.nompunto, new { @class = "form-control" })
        @Html.ValidationMessageFor(vista => vista.First().buscador.nompunto)
    </div>

    <div class="col-lg-6 col-sm-6 col-xs-12">
        @Html.LabelFor(vista => vista.First().buscador.idUsuario, new { @class = "" })
        @Html.DropDownListFor(vista => vista.First().buscador.idUsuario, new SelectList(ViewBag.listaUsuarios, "ID", "NOMBRE"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(vista => vista.First().buscador.idUsuario)
    </div>

    <div class="col-lg-6 col-sm-6 col-xs-12">
        @Html.LabelFor(vista => vista.First().buscador.fechaInicio, new { @class = "" })
        @Html.DateHelperFor(vista => vista.First().buscador.fechaInicio)
        @Html.ValidationMessageFor(vista => vista.First().buscador.fechaInicio)
    </div>

    <div class="col-lg-6 col-sm-6 col-xs-12">
        @Html.LabelFor(vista => vista.First().buscador.fechaFin, new { @class = "" })
        @Html.DateHelperFor(vista => vista.First().buscador.fechaFin)
        @Html.ValidationMessageFor(vista => vista.First().buscador.fechaFin)
    </div>


    <div class="col-lg-6 col-sm-6 col-xs-12">
        @Html.LabelFor(vista => vista.First().buscador.programado, new { @class = "" })
        @Html.TextBoxFor(vista => vista.First().buscador.programado, new { @class = "form-control" })
        @Html.ValidationMessageFor(vista => vista.First().buscador.programado)
    </div>

    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="btnFiltro">
            <input type="button" value="Limpia" onclick="resetFiltro('divFiltro')" class="btn btn-warning">
            <input type="button" value="Filtra" id="filtro" class="btn btn-info">
        </div>
    </div>
</div>