@model LigalFrontend.ViewModels.InspBuscadorVM
@using LigalFrontend.Helpers;

@{
    var controlador = ViewContext.RouteData.Values["controller"].ToString();
}

<div class="row" id="divFiltro">

    <div class="col-lg-6 col-sm-6 col-xs-12">
        @Html.LabelFor(vista => vista.buscador.FechaHoraVisitaI, new { @class = "" })
        @Html.DateHelperFor(vista => vista.buscador.FechaHoraVisitaI)
        @Html.ValidationMessageFor(vista => vista.buscador.FechaHoraVisitaI)
    </div>

    <div class="col-lg-6 col-sm-6 col-xs-12">
        @Html.LabelFor(vista => vista.buscador.FechaHoraVisitaF, new { @class = "" })
        @Html.DateHelperFor(vista => vista.buscador.FechaHoraVisitaF)
        @Html.ValidationMessageFor(vista => vista.buscador.FechaHoraVisitaF)
    </div>

    <div class="col-lg-6 col-sm-6 col-xs-12 margenInput">
        @Html.LabelFor(vista => vista.buscador.IDExplotacion, new { @class = "" })
        @Html.TextBoxFor(vista => vista.buscador.IDExplotacion, new { @class = "form-control" })
        @Html.ValidationMessageFor(vista => vista.buscador.IDExplotacion)
    </div>

    <div class="col-lg-6 col-sm-6 col-xs-12 margenInput">
        @Html.LabelFor(vista => vista.buscador.INDUSTRIAN, new { @class = "" })
        @Html.TextBoxFor(vista => vista.buscador.INDUSTRIAN, new { @class = "form-control" })
        @Html.ValidationMessageFor(vista => vista.buscador.INDUSTRIAN)
    </div>


    <div class="col-lg-6 col-sm-6 col-xs-12 margenInput">
        @Html.LabelFor(vista => vista.buscador.idUsuario, new { @class = "" })
        @Html.DropDownListFor(vista => vista.buscador.idUsuario, new SelectList(Model.buscador.listaUsuarios, "ID", "NOMBRE"), "",new { @class = "form-control" })
        @Html.ValidationMessageFor(vista => vista.buscador.idUsuario)
    </div>

    <div class="col-lg-6 col-sm-6 col-xs-12 margenInput">
        @Html.LabelFor(vista => vista.buscador.Resultado, new { @class = "" })
        @Html.TextBoxFor(vista => vista.buscador.Resultado, new { @class = "form-control" })
        @Html.ValidationMessageFor(vista => vista.buscador.Resultado)
    </div>

    <div class="col-lg-6 col-sm-6 col-xs-12 margenInput">
        @Html.LabelFor(vista => vista.buscador.RESULTADOQUINO, new { @class = "" })
        @Html.HiddenFor(vista => vista.buscador.RESULTADOQUINO, new { @class = "form-control" })
        @Html.DropDownList("buscador_SelectResultadoQuino", new SelectList(Model.buscador.listaResultadoQuino, "ID", "DESCRIPCION"), new { @class = "form-control" })
        @Html.ValidationMessageFor(vista => vista.buscador.RESULTADOQUINO)
    </div>

    <div class="col-lg-6 col-sm-6 col-xs-12 margenInput">
        @Html.LabelFor(vista => vista.buscador.ResultadoCHARM, new { @class = "" })
        @Html.HiddenFor(vista => vista.buscador.ResultadoCHARM, new { @class = "form-control" })
        @Html.DropDownList("buscador_SelectResultadoCharm", new SelectList(Model.buscador.listaResultadoCharm, "ID", "DESCRIPCION"), new { @class = "form-control" })
        @Html.ValidationMessageFor(vista => vista.buscador.ResultadoCHARM)
    </div>

    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="btnFiltro">
            <input type="button" value="Limpia" onclick="resetFiltro('divFiltro')" class="btn btn-warning">
            <input type="button" value="Filtra" id="filtro" class="btn btn-info">
        </div>
    </div>

</div>


