@model LigalFrontend.ViewModels.DiarioMatriculaVM
@using LigalFrontend.Helpers

@{
    ViewBag.Title = "Editar Diario";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var controlador = ViewContext.RouteData.Values["controller"].ToString();
}


@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "formEdit", id = "formEdit", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.diario.ID)
    @Html.HiddenFor(model => model.diario.ROWID)
    @Html.HiddenFor(model => model.diario.IDUV)

    
    <div class="form-group">

        <div class="col-lg-12 col-sm-12 col-xs-12">
            <h2>@ViewBag.Title</h2>
        </div>

        <div class="col-lg-6 col-sm-6">
            @Html.LabelFor(vista => vista.usuVeh.vehiculo.MATRICULA)
            @Html.TextBoxFor(vista => vista.usuVeh.vehiculo.MATRICULA, new { @class = "form-control", @disabled = "disabled" })
        </div>

        <div class="col-lg-6 col-sm-6">
            @Html.LabelFor(vista => vista.diario.FECHA)
            @Html.DateHelperFor(vista => vista.diario.FECHA)
            @Html.ValidationMessageFor(vista => vista.diario.FECHA)
        </div>

        <div class="col-lg-6 col-sm-6">
            @Html.LabelFor(vista => vista.diario.KMINICIALES)
            @Html.TextBoxFor(vista => vista.diario.KMINICIALES, new { @class = "form-control" })
            @Html.ValidationMessageFor(vista => vista.diario.KMINICIALES)
        </div>

        <div class="col-lg-6 col-sm-6">
            @Html.LabelFor(vista => vista.diario.KMFINALES)
            @Html.TextBoxFor(vista => vista.diario.KMFINALES, new { @class = "form-control" })
            @Html.ValidationMessageFor(vista => vista.diario.KMFINALES)
        </div>

        <div class="col-lg-6 col-sm-6">
            @Html.LabelFor(vista => vista.diario.IDTAREA)
            @Html.DropDownListFor(x => x.diario.IDTAREA, new SelectList(Model.listaTareas, "ID", "DESCRIPCION"), new { @class = "form-control", })
            @Html.HiddenFor(vista => vista.diario.IDTAREA)
            @Html.ValidationMessageFor(vista => vista.diario.IDTAREA)
        </div>

        <div class="col-lg-6 col-sm-6">
            @Html.LabelFor(model => model.diario.TAREAS)
            @Html.TextAreaFor(model => model.diario.TAREAS, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.diario.TAREAS)
        </div>

        <div class="col-lg-12 col-sm-12 col-xs-12 filaBotonera">
            <input class="btn btn-default" id="botonLimpar" type="button" name="boton2" value="LIMPAR" onclick="resetForm(formEdit)" />
            <input class="btn btn-primary" id="botonGardar" type="submit" name="boton" value="GARDAR" />
            @Html.Hidden("RedirectTo", Url.Action("Index", controlador))
            <input class="btn btn-warning" id="botonCancelar" type="button" name="boton" value="CANCELAR" onclick="redirect()" />
        </div>

    </div>


}

@{ Html.RenderPartial("_DialogAlert");}